{% extends 'base.html' %}{% load embed_video_tags %}

{% block title %}{{ cats }}{% endblock %}

{% block content %}
{% if category_posts %}

    <h1> {{ cats }} </h1>

    {% for post in category_posts %}
        <a href="{% url 'post-detail' post.pk %}"><h1>{{ post.titulo }}</h1></a>

        <p>Postado por {{ post.autor }} | {{ post.post_data }}</p>
    <br/>

    {% if post.youtube %}
        <div class="container">
            {% video post.youtube 'medium' %}
        </div>
        <br/>
    {% endif %}

    {% if post.imagem %}
        <img src="{{ post.imagem.url }}" class="rounded mx-auto d-block" alt="">
    {% endif %}

    {{ post.corpo|safe|slice:":200" }}

    <br/>
    <a href="{% url 'post-detail' post.pk %}"><button class="btn btn-primary">Continue lendo</button></a>
        <br/><br/>
    {% endfor %}
{% endif %}
{% endblock %}